body {
  background-color: #F5F5F5;
  overflow-x: hidden;
 }

::-webkit-scrollbar { 
  background-color: transparent; 
}

  tr { 
    display: block; 
    float: left; 
  }

  th, td { 
    display: block; 
  }

  /* Add A Company CSS */

  .new-company {
    position: fixed;
    bottom: 10px;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    background-color: #F5F5F5;
    box-shadow: -3px 3px 8px #888888;
  }

  .new-company h2 {
    text-align: center;
    margin: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
  }

  .new-company input {
    width: 251px;
    text-align: center;
    padding: 5px;
    margin: 1px;
  }

  #new-company-submit {
    width: 265px;
  }

/* Filter CSS */

  .filter {
    position:  fixed;
    bottom: 270px;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    background-color: #F5F5F5;
    box-shadow: -3px 3px 8px #888888;
  }

  .filter h2 {
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    margin-bottom: -15px;
    font-family: 'Amatic SC', cursive;
  }

  #status-dropdown {
    width: 265px;
    padding: 5px;
    margin: 1px;
  }

  #date-dropdown {
    width: 265px;
    padding: 5px;
    margin: 1px;
  }

  /* Statistics Bar CSS */

  .statistics-click {
    border: 1px solid black;
    position:  fixed;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 262px;
    bottom: 437px;
    background-color: #F5F5F5;
    box-shadow: -3px 3px 8px #888888;
    font-size: 30px;
  }

  .cards-click {
    border: 1px solid black;
    position:  fixed;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 262px;
    bottom: 437px;
    background-color: #F5F5F5;
    box-shadow: -3px 3px 8px #888888;
    font-size: 30px;
  }
  
  /* Content CSS */

  .content {
    float: right;
    right: 10px;
    width: 950px;
  }

  /* Cards */

  .company-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .company-card {
    margin: 5px;
    width: 225px;
    border: 0.5px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #E0D9D2;
    border-radius: 10px;
    box-shadow: -3px 3px 8px #888888;
  }
  
  .company-card:hover {
    border: 0.5px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: -3px 3px 8px #888888;
    opacity: 100% !important;
    transition: 0.5s;
  }

  .company-card a, a:visited {
    font-size: 35px;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    color: black;
    margin-left: -20px;
  }

  .company-card a:hover {
    background-color:  #99ccff;
    transition: 3s;
    opacity: 35%;
  }

  .company-card ul {
    list-style: none;
    padding: 0;
  }

  .comments ul {
    border: 1px solid black;
    width: 50%;
    text-align: center;
  }

  .comments li {
    padding: 5px;
    overflow-wrap: break-word;
  }

  /* Edit? */

  .edit-company-button {
    position: relative;
    height: 20px;
    width: 20px;
    float: left;
    margin: 5px;
    border: none;
    opacity: 50%;
    border-radius: 50%;
  }

  .delete-company-button {
    position: relative;
    height: 20px;
    width: 20px;
    float: left;
    margin: 5px;
    border: none;
    opacity: 50%;
    border-radius: 50%;
  }

  .delete-comment-button {
    border-radius: 50%;
    border: none;
    float: right;
    margin-right: 5px;
  }

  .response-button, .submit-comment-button, .exit-comment-button {
    display: inline-block;
    margin: 1px;
    width: 100px;
    height: 25px;
  }

  .await-button {
    width: 202px;
    height: 25px;
    margin: 1px;
  }

  .comment-button {
    vertical-align: bottom;
    width: 202px;
    height: 25px;
    margin: 1px;
  }

  .comment-form {
    width: 200px;
    height: 35px;
    margin: 5px;
  }
  
  .statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .total {
    border: 0.5px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: -3px 3px 8px #888888;
  }