  .company {
    width: 75%;
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .company-card {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .company-card a {
    font-size: 35px;
    text-decoration: none;
    margin-left: -45px;
  }

  ul {
    padding:0;
    margin:0;
    text-align: center;
    width: 300px;
    list-style:none;
  }

  button {
    display: inline-block;
    width: 30%;
    height: 30px;
    margin: 1px;
    margin-top: 10px;
  }

  .edit {
    position: relative;
    height: 35px;
    width: 35px;
    float: left;
    margin: 1px;
  }
  .delete {
    position: relative;
    height: 35px;
    width: 35px;
    float: left;
    margin: 1px;
  }

  .container {
    float: left;
  }

  .rejected-card {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: red;
  }

  .approved-card {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: green;
  }

  tr { 
    display: block; 
    float: left; 
  }

  th, td { 
    display: block; 
  }