  .company {
    width: 75%;
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .company-card {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .company-card a {
    font-size: 35px;
    text-decoration: none;
    margin-left: -45px;
  }

  ul {
    padding:0;
    margin:0;
    text-align: center;
    width: 300px;
    list-style:none;
  }

  button {
    display: inline-block;
    width: 30%;
    height: 30px;
    margin: 1px;
    margin-top: 10px;
  }

  .edit {
    position: relative;
    height: 35px;
    width: 35px;
    float: left;
    margin: 1px;
  }
  .delete {
    position: relative;
    height: 35px;
    width: 35px;
    float: left;
    margin: 1px;
  }

  .container {
    float: left;
  }

  .rejected-card {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: red;
  }

  .approved-card {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: green;
  }

  tr { 
    display: block; 
    float: left; 
  }

  th, td { 
    display: block; 
  }

  .logo {
    margin: 30px;
  }

  .logo h1{
    text-align: center;
    font-size: 75px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 15px;
    margin-top: 10px;
  }

  .logo h2 {
    font-size: 15px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: -70px;
    padding-left: 700px;
  }

  .logo img {
    position: absolute;
    margin-top: -15px;
    padding-left: 190px;
    z-index: -1;
    height: 120px;
  }

  .statistics {
    display: none;
  }

  .navigation {
    text-align: center;
    font-family: 'Cambo', serif;
    font-size: 20px;
  }

  /* Add A Company CSS */

  .new-company {
    position: absolute;
    bottom: 10px;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
  }

  .new-company h2 {
    text-align: center;
    margin: 3px;
    font-family: 'Notable', sans-serif;
  }

  .new-company input {
    width: 250px;
    text-align: center;
    padding: 5px;
    margin: 1px;
  }

/* Filter CSS */

  .filter {
    position:  absolute;
    bottom: 250px;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
  }

  .filter h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -15px;
    font-family: 'Notable', sans-serif;
  }

  #status-dropdown {
    width: 265px;
    padding: 5px;
    margin: 1px;
  }